<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spring Bootの基礎を学ぼう</title>
    </head>
	
	<body>
        <h1>TODOリスト</h1>
		
	    <table border="1">
            <tr>
                <th>ID</th>
                <th>タイトル</th>
				<th>優先度</th> 
				<th>ステータス</th>  
				
				               
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
				<td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getPriority()}"></td>
				<td th:text="${todo.getStatus()}"></td>
				
            
            </tr>
        </table>
	</body>
</html>
